Minvu0013/Minv0013/WebPortalDOM/WebPortalDOM/Web References/wsClaveUnicaMinvu/WSClaveUnica.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSClaveUnica" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wsminvune.minvu.cl/wsClaveUnicaMinvu/WSClaveUnica.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wsminvune.minvu.cl/wsClaveUnicaMinvu/WSClaveUnica.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wsminvune.minvu.cl/wsClaveUnicaMinvu/WSClaveUnica.svc?xsd=xsd2" namespace="http://Minvu.wsClaveUnicaMinvu.Wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSClaveUnica_ObtenerURL_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerURL" />
  </wsdl:message>
  <wsdl:message name="IWSClaveUnica_ObtenerURL_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerURLResponse" />
  </wsdl:message>
  <wsdl:message name="IWSClaveUnica_ObtenerCredenciales_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCredenciales" />
  </wsdl:message>
  <wsdl:message name="IWSClaveUnica_ObtenerCredenciales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCredencialesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSClaveUnica">
    <wsdl:operation name="ObtenerURL">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSClaveUnica/ObtenerURL" message="tns:IWSClaveUnica_ObtenerURL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSClaveUnica/ObtenerURLResponse" message="tns:IWSClaveUnica_ObtenerURL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCredenciales">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSClaveUnica/ObtenerCredenciales" message="tns:IWSClaveUnica_ObtenerCredenciales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSClaveUnica/ObtenerCredencialesResponse" message="tns:IWSClaveUnica_ObtenerCredenciales_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSClaveUnica" type="tns:IWSClaveUnica">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerURL">
      <soap:operation soapAction="http://tempuri.org/IWSClaveUnica/ObtenerURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCredenciales">
      <soap:operation soapAction="http://tempuri.org/IWSClaveUnica/ObtenerCredenciales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSClaveUnica">
    <wsdl:port name="BasicHttpBinding_IWSClaveUnica" binding="tns:BasicHttpBinding_IWSClaveUnica">
      <soap:address location="http://wsminvune.minvu.cl/wsClaveUnicaMinvu/WSClaveUnica.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>