Minvu0013/Minv0013/WebPortalDOM/WebPortalDOM/Web References/wsClaveUnicaMinvu/WSClaveUnica.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsminvune.minvu.cl/wsClaveUnicaMinvu/WSClaveUnica.svc?xsd=xsd2" namespace="http://Minvu.wsClaveUnicaMinvu.Wcf" />
  <xs:element name="ObtenerURL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://Minvu.wsClaveUnicaMinvu.Wcf" minOccurs="0" name="entrada" nillable="true" type="q1:RequestTypeURL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerURLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://Minvu.wsClaveUnicaMinvu.Wcf" minOccurs="0" name="ObtenerURLResult" nillable="true" type="q2:ResponseTypeURL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCredenciales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://Minvu.wsClaveUnicaMinvu.Wcf" minOccurs="0" name="entrada" nillable="true" type="q3:RequestTypeCredencial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCredencialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://Minvu.wsClaveUnicaMinvu.Wcf" minOccurs="0" name="ObtenerCredencialesResult" nillable="true" type="q4:ResponseTypeCredencial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>